################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PDB_free/.vs/PDB_free/v16
/.vs
